<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buyer.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @buyer.code %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @buyer.owners %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
